.container {
  position: relative;
  top: 15px;
  height: auto;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}

.editBtnContainer {
  position: relative;
  margin-left: 2%;
  top: 25px;
}

.editFormContainer{
  position: relative;
  width: 90%;
  left: 0%;
  margin-top: 50px;
}

